.footer-btn {
  font-size: 2em;
  color: #fff;
}

.footer-overwrapper {
  width: 100vw;
  height: 18vh;
  margin: auto;
}

.footer-wrapper {
  width: 100vw;
  height: 18vh;
  margin: auto;

  background: linear-gradient(0deg, #111a, #1117);
}

.footer-menu {
  padding: 0px;
  text-align: center;
}

.footer-menu div a {
  color: white;
}
