* {
  /* background-color: #0001; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: repeating-linear-gradient(
    -45deg,
    #fafafa,
    #fafafa 5%,
    #fff 5%,
    #fff 10%
  );
  background-size: 1000px 1000px;
  animation: gradient 20s linear infinite;
  overflow: hidden; /* Hide scrollbars */
}

@keyframes gradient {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 1000px 0px;
  }
}

#main-screen {
  position: relative;
  height: 100%;
  overflow: auto;
}


#homepage-separator{
  animation: blinky 2s ease-in infinite;
}

@keyframes blinky {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: 1;
  }
}



.section-wrapper {
  height: 80vh;
}

.img-bg {
  background: repeating-linear-gradient(
    -45deg,
    #000,
    #000 8%,
    #ffffff00 8%,
    #ffffff00 10%
  );
}

#my-photo {
  -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);

  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.portifolio-cards {
  width: 90%;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .portifolio-cards {
    height: 70vh;
    max-width: 80vw;
  }
}

.col-md-4 .carousel-card-image {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .carousel-card-image {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .col-md-4 .carousel-card-image {
    width: 100%;
    height: 40vmin;
  }

  .portifolio-cards .row {
    height: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .carousel-card-image {
    border-radius: 0.375rem 0 0 0.375rem;
  }

  .col-md-4 .carousel-card-image {
    height: 100%;
  }

  .portifolio-cards .row {
    height: 60vmin;
  }
}

.atuacao-card {
  width: 35vmax;
  height: 75vmin;
}

.atuacao-card-img {
  width: 100%;
  height: 30vmin;
  object-fit: cover;
}

.atuacao-card-mobile {
  margin: auto;
  height: 63vmax;

  width: 90vmin;
}

#cpp-img {
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

.h75 {
  height: 75vmin;
}

.mw540 {
  max-width: 540px;
}

.helvetica {
  font-family: "Helvetica Neue", sans-serif;
}

.huge-text {
  /*font-family: 'Staatliches', cursive;*/
  font-stretch: ultra-condensed;
  font-weight: 700;
  /* font-size: 8.7vmin; */
  line-height: 0.9em;
  letter-spacing: -0.03em;
}

.square-btn {
  font-size: 3vmax;
  color: #000;
}

.footer-btn {
  font-size: 2em;
  color: #fff;
}

.footer-overwrapper {
  width: 100vw;
  height: 18vh;
  margin: auto;
}
.footer-wrapper {
  width: 100vw;
  height: 18vh;
  margin: auto;

  background: linear-gradient(0deg, #111a, #1117);
  bottom: 0;
}

.footer-bottom {
  width: 100vw;
  height: 5vh;
  margin: auto;
}

.footer-menu {
  padding: 0px;
  text-align: center;
}

.footer-menu div a {
  color: white;
}

#contato-footer {
  position: relative;
  bottom: 0;
}
@media screen and (min-height: 800px) {
  #contato-footer {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 960px) and (min-height: 600px) {
  #contato-footer {
    position: fixed;
    bottom: 0;
  }
}

.carousel-controls {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.carousel-controls {
  color: #000;
}

.carousel-indicators {
  top: 0px;
}


#formacao-cards-wrapper .card{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #formacao-cards-wrapper .card .card-body :not(.small){
    display: none;
  }
}