/* #navbar {
    position: fixed;
    top: 0;
    width: 100%;
} */

.margin-navbar {
    padding-top: 7vh;
}


#main-screen {
	position: relative;
	height: 100%;
	overflow: auto;
}


#my-photo {
	background: repeating-linear-gradient(-45deg, #000, #000 5%, #fff 5%, #fff 10%);
	height: 75vmin;
}


.huge-text {
	/*font-family: 'Staatliches', cursive;*/
	font-family: "Helvetica Neue", sans-serif;
	font-stretch: ultra-condensed;
	font-size: 9vmin;
	line-height: 0.9em;
	letter-spacing: -0.03em;
}

body {
	background: repeating-linear-gradient(-45deg, #fafafa, #fafafa 5%, #fff 5%, #fff 10%);
	background-size: 1000px 1000px;
	animation: gradient 20s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: initial;
	}
	100% {
		background-position: 1000px 0px;
	}
}
